<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Školní knihovna</title>
</head>
<body>
    <h1>Školní knihovna</h1>
</body>
</html>